.btn {
    min-width: 135px;
    height: 45px;
    font-weight: 700;
    font-size: 14px;
    color: #FAFBFD;
    background-color: transparent;
    text-align: center;
    border: none;
    padding: 12px 25px;
    &_active {
        background-color: #B6C2CE;
        color: #000;
    }
}